.todo-list {
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  border: 1px solid #efefef;
  background: #fff;
  position: relative; /* for :before, :after */
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-list p {
  padding-left: 10px;
}

h2 {
  color: dimgray;
  font-weight: normal;
}

/* Simulates pile of papers */

.todo-list,
.todo-list::before,
.todo-list::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.todo-list::before,
.todo-list::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #eee;
}

.todo-list::before {
  right: 15px;
  top: 0px;
  transform: rotate(-5deg);
  z-index: -1;
}

.todo-list::after {
  top: 15px;
  right: -10px;
  transform: rotate(3deg);
  z-index: -2;
}
